groups{

  .panel-title {
    padding: 10px 0;
    .pull-right{
      margin-top: -6px;
    }
  }

  .list-group-item {
    padding: 16px 15px;
    font-size: 16px;
    .btn{
      margin-top: -7px;
    }
  }

  .options{
    margin-top: 0px !important
  }

  .temp{
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 0px;
    padding: 0;
    padding-top: 4px;

    position: relative;

    span{
      position: absolute;
      top: -22px;
      right: 0;
    }
  }

  .info {

    margin-top: -5px;

    .tswitch{


    }
  }

  [class*="block-grid-"]{
    min-height: 30px;
  }

  .tools{
    position: relative;
  }

  .cog{
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .power{
    &.active{
      color: #27ae60;
    }
    color: #7f8c8d;
  }

  .toggle{
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 0px;
    padding: 0;
    padding-top: 4px;

    .fa-toggle-on{
      color: #27ae60;

    }
    .fa-toggle-off{
      color: #7f8c8d;
    }
  }
}

